node_modules
.env

# Hardhat files
**/cache
**/artifacts

# TypeChain files
**/typechain
**/typechain-types

# solidity-coverage files
**/coverage
**/coverage.json

# Hardhat Ignition default folder for deployments against a local node
**/ignition/deployments/chain-31337

# IDEs and editors
**/.idea
**/.iml
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
